# Google Kubernetes Engine (GKE) Deployment for LearnFlow

apiVersion: apps/v1
kind: Deployment
metadata:
  name: learnflow-gke-manifests
spec:
  replicas: 1
  selector:
    matchLabels:
      app: learnflow-gke
  template:
    metadata:
      labels:
        app: learnflow-gke
    spec:
      containers:
      - name: deployment-helper
        image: alpine:latest
        command: ['sh', '-c', 'echo "GKE deployment configuration for LearnFlow" && sleep 3600']

---
# Google Cloud Pub/Sub Configuration (replaces Kafka)
apiVersion: v1
kind: ConfigMap
metadata:
  name: gcp-pubsub-config
data:
  PUBSUB_PROJECT_ID: "learnflow-project"
  TOPIC_PREFIX: "learnflow-"
  KAFKA_BOOTSTRAP_SERVERS: ""  # Will be overridden by cloud service

---
# Google Cloud SQL Configuration
apiVersion: v1
kind: ConfigMap
metadata:
  name: gcp-cloudsql-config
data:
  CLOUD_SQL_CONNECTION_NAME: "learnflow-project:us-central1:learnflow-db"
  POSTGRES_HOST: ""
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "learnflow"

---
# GKE Ingress Controller
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: learnflow-ingress
  annotations:
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.global-static-ip-name: "learnflow-ip"
spec:
  rules:
  - http:
      paths:
      - path: /*
        pathType: ImplementationSpecific
        backend:
          service:
            name: frontend-service
            port:
              number: 3000